
*.log

*.o
*.a

*.obj
*.exe
*.bin
*.dat
*.hex
*.out

*.ppm
*.pgm

*.vvp
*.vcd

*.VC.db
*.VC.opendb
*.vspx

# execute
sample/mnist/sample-mnist
test/mnist/test-mnist
test/gtest/gtest

# generate file
sample/mnist/verilog/mnist_train.txt
sample/mnist/verilog/mnist_test.txt
sample/mnist/verilog/MnistSimpleLutMlp.v
sample/mnist/verilog/MnistSimpleLutCnn.v

.vs/
Debug/
Release/
DbgCpu/
RelCpu/

*.gz
*-ubyte

*_log.txt
*.json

mnist-sample

!license.txt
!README
