
*.log

*.o
*.a
*.tmp
*.so

*.obj
*.exe
*.bin
*.dat
*.hex
*.out

*.ppm
*.pgm

*.vvp
*.vcd

*.sdb
*.pb
*.ipch
*.rlx
*.jou
*.wdb

*.VC.db
*.VC.opendb
*.vspx

*.exp
*.iobj
*.ipdb
*.lib
*.pdb

*.pyc
*.pyd

veritak_src_files.txt
veritak_command.txt

depend

# execute
samples/mnist/sample-mnist
samples/diabetes/sample-diabetes
samples/cifar10/sample-cifar10

tests/gtest/gtest
tests/mnist/test-mnist
tests/cifar10/test-cifar10
tests/diabetes/test-diabetes

# generate file
samples/mnist/verilog/mnist_train.txt
samples/mnist/verilog/mnist_test.txt
samples/mnist/verilog/MnistSparseLutSimple.v
samples/mnist/verilog/MnistSparseLutCnn.v
samples/mnist/verilog/MnistStochasticLutSimple.v
samples/mnist/verilog/MnistStochasticLutCnn.v
samples/mnist/verilog/MnistMicroMlpLutSimple.v
samples/mnist/verilog/MnistMicroMlpLutCnn.v
samples/diabetes/diabetes_data.txt
samples/diabetes/diabetes_target.txt
samples/diabetes/DiabetesRegressionBinaryLut.v

tests/mnist/verilog/mnist_train.txt
tests/mnist/verilog/mnist_test.txt
tests/mnist/verilog/MnistSparseLutSimple.v
tests/mnist/verilog/MnistSparseLutCnn.v
tests/mnist/verilog/MnistStochasticLutSimple.v
tests/mnist/verilog/MnistStochasticLutCnn.v
tests/mnist/verilog/MnistMicroMlpLutSimple.v
tests/mnist/verilog/MnistMicroMlpLutCnn.v
tests/diabetes/diabetes_data.txt
tests/diabetes/diabetes_target.txt
tests/diabetes/DiabetesRegressionBinaryLut.v
tests/diabetes/diabetes_data.txt
tests/diabetes/diabetes_target.txt
tests/diabetes/DiabetesRegressionBinaryLut.v

*.tar.gz
cifar-10-batches-bin/

xsim.dir/

.vs/
Debug/
Release/
DbgCpu/
RelCpu/

.ipynb_checkpoints/
*.egg-info/
.eggs/
python/samples/mnist/*.v
python/build/
python/dist/

python/cereal*/
python/binarybrain/include/
python/binarybrain/cuda/

*.gz
*-ubyte

*_log.txt
*.json

mnist-sample

!license.txt
!README
