
*.log

*.o
*.a

*.obj
*.exe
*.bin
*.v
*.dat
*.hex

*.VC.db
*.VC.opendb
*.vspx

# execute
sample/mnist/sample-mnist
test/mnist/test-mnist


.vs/
Debug/
Release/
DbgCpu/
RelCpu/

*.gz
*-ubyte

*_log.txt
*.json

mnist-sample

!license.txt
!README
