numpy
tqdm
pybind11
Sphinx
sphinx-autobuild
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-actdiag
sphinxcontrib-applehelp
sphinxcontrib-blockdiag
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-nwdiag
sphinxcontrib-qthelp
sphinxcontrib-seqdiag
sphinxcontrib-serializinghtml
